.banner{
  height: 300px;
  background-image: linear-gradient(135deg,rgb(0,0,0,0.8), rgb(0,0,0,0.2)), url(../assets/photo-1516083468273-80cea284e164.jpg);
  background-position: center;
  background-size: cover;
  /* background-size: contain;
  background-repeat: no-repeat; */
  padding: 40px;
  color: white;
  display: flex;
  align-items: flex-end;
}

.banner h1{
  font-size: 30px;
  font-weight: lighter;
}

.text-banner{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-width: 300px;
    max-width: 400px;

}