@import url("css/components-profile/avatar.css");
@import url("css/components-profile/card.css");
@import url("css/components-profile/container.css");
@import url("css/components-profile/font.css");
@import url("css/components-profile/icons.css");

body{
	margin: 0px;
	background-color: #eeebdd40;
    color: #110e0e;
}
/* .container{
	margin: 20px 0px;
} */
.text-center {
  text-align: center;
}
.border-gray{
    border: solid #1b17173d;
}

.list-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
/* .icon-img{
	width: 35px;
    height: 35px;
} */
/* .fab{
	font-size: 35px;
	margin: 0 5px;
	color: black;
} */