.cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  /* height: calc(100vh - 300px); */
}

.card {
  width: 300px;
  height: 150px;
  background-color: #00bcd412;
  box-shadow: 3px 3px 3px #a7a7a7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  margin: 10px;
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.card h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
}
